
#food-item{
    /* border: 2px solid blue; */
    /* border: 2px solid grey; */
    width: 235px;
    margin: 1rem;
    padding: 0.7rem;
    border-radius: 5px;
    background: #ffffff;
    box-shadow:  10px 10px 21px #9e9e9e,
             -10px -10px 21px #ffffff;
}
#food-image{
    width: 17vw;
    height: 200px;
    /* display: flex; */
    margin: auto;
    /* border: 2px solid green; */
    
}
#food-image img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

#food-name{
    margin-top: 0.5rem;
    /* border: 2px solid red; */
    font-size: medium;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-break: break-all;

    /* max-width: 50%; */
}
#food-type{
    /* border: 2px solid green; */
    margin: 0.3rem auto;
}
#food-rate-price{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}
#food-rate{
    /* border: 2px solid blue; */
    padding: 0.2rem;
    background-color: green;
    color: white;
    border-radius: 3px;
}
#food-price{
    padding-left: 0;
    font-weight: bold;
}