#footer{
    /* border: 2px solid green; */
    text-align: center;
    padding: 1rem ;
}
#footer i{

    margin: auto 0.3rem ;
}
#footer .fa-heart{
    color: red;
}

#footer a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}