*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: grey;
    background-color: white;
    padding: 0.3rem;
    position: sticky;
    top: 0;
    z-index: 1;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);    
}

#header-left{
    /* border: 2px solid green; */
    font-size: normal;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
#header-left #logo{
    /* border: 2px solid green; */
    width: 50px;
    margin-right: 1rem;
}
#header-left #logo img{
    width: 100%;
    border-radius: 50%;
    
}
#header-right{
    /* border: 2px solid yellow; */
    padding: 0.3rem;
    display: flex;
    
}
#header-right ul{
    /* border: 2px solid blue; */
    display: flex;
    list-style: none;
    /* margin: 0; */
}
#header-right ul li{
    /* border: 2px solid; */
    margin: auto 0.7rem;
    cursor: pointer;

}
#header-right ul li a{
    /* border: 2px solid red; */
    /* text-decoration: none; */
    color: grey;
}

.authenticate-btn{
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 3px;
    background: transparent;
    font-weight: bold;

}
.authenticate-btn:hover{
    background-color: green;
    color: white;
}
.login{
    background-color: red;
    color: white;
}
.logout{
    background-color: #d97919ff;
    color: white;
}

.online{
    color: green;
}
.offline{
    color: red;
}